* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0b0014;
    color: #ECDBBA;
}

#title-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}


#grid-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background: black;
}

#gameover {
    position: absolute;
    top: 35%;
    z-index: 1;
    padding: 20px;
    font-size: 4rem;
    background-color: #c2d076;
    border: 5px solid #001514;
    color: #001514;
    display: none;
    text-align: center;
}

.square {
    background-color: #fff;
    width: 20px;
    height: 20px;
    
}

.snek {
    background-color: #0b0014;
}

.apple {
    background-color: #773344;
}

#mobile-controls {
    display: none
}

.up {
    display: block;
    margin: 10px auto;
}

.down {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left {
    margin-right: 100px;
    margin-bottom: 0;
}

.right {
    margin-bottom: 0;
}

button {
    padding: 20px 30px;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #0b0014;
    background-color: #e3b5a4;
    border-radius: 20px;
    border: 2px solid #d44d5c;
    
}


#start {
    font-size: 2rem;
    color: #0b0014;
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px solid #d44d5c;
    outline: none;
}

button:active {
    transform: scale(.9);
}

.note {
    max-width: 1000px;
    font-size: 2rem;
}

#landscape-controls {
    display: none;
}


@media (max-width: 1080px) {
        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 2rem;
        }

        #grid-container {
            margin-bottom: 20px;
        }

        #mobile-controls {
            display: block;
        }

        .note {
            max-width: 800px;
            padding: 1em;
            font-size: 1.5rem;
        }
    
        .down {
            margin-bottom: 3rem;
            margin-top: -5rem;
        }

    }

@media (orientation: landscape) and (max-width: 1080px) {
    h1,h2 {
        margin: 0;
    }

    h1 {
        margin-right: 2rem;
    }

    #grid-container {
        margin-bottom: 10px;
    }

    #landscape-controls {
        display: block;
    }

    #mobile-controls {
        display: none;
    }

    #title-score {
        flex-direction: row;
        align-items: baseline;
        margin: 1rem;
        
    }

    #gameover {
        top: 35%;
    }

    #start {
        padding: 5px 40px;
    }

    .pLeft {
        position: absolute;
        top: calc(50% - 40px);
        left: -33vw;
    }
    
    .pUp {
        position: absolute;
        left: -20vw;
    }
    
    .pDown {
        position: absolute;
        top: calc(60%);
        left: -20vw;
    }
    
    .pRight {
        position: absolute;
        top: calc(50% - 40px);
        left: 51vw;
    }
    
    .pUp2 {
        position: absolute;
        left: 38vw;
    }
    
    .pDown2 {
        position: absolute;
        top: calc(62%);
        left: 38vw;
    }
}